[submodule "src/agents/maverick"]
	path = src/agents/maverick
	url = https://github.com/chebroluharika/maverick
[submodule "src/agents/bug_intelligence"]
	path = src/agents/bug_intelligence
	url = https://github.com/chebroluharika/Bug-Intelligence
